<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL SHORTENER</h1>
    <div>
        <form method="post" action="/api/url">
            <label for="">Enter your original url</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
    <% if(locals.id) {%>
        <p>URL Generated: https://url-shortner-backend-80qb.onrender.com/api/url/<%= id %></p>
    <% } %>
</body>
</html>