* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: white;
  background-color: #000000;
}

.heading {
  margin: auto;
  margin-top: 50px;
  width: fit-content;
  border: 2px solid white;
  padding: 10px;
}

.table {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  border: 1px solid white;
}

table th,
td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}


.form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 50px;
}

form{
    display: flex;
    align-items: center;
    gap: 10px;
}

form label{
    font-size: 20px;
}

form input{
    padding: 5px;
    outline: none;
    width: 400px;
    background-color: #414141;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 0.3px solid white;
}

.form button{
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(17, 156, 17);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

.form button:hover{
    border: 1px solid white;
}